nav {
    background-color: grey;
}

ul {
    display: flex;
    list-style: none;
}

ul>li {
  margin: 10px 20px 0px;
}

ul li a {
  text-decoration: none;
  color: #fff;
  padding: 10px;
}

a:hover {
  background-color: #000;
}

form {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

form input {
  margin: 3px 0px;
}

li:last-child {
    margin-left: auto;
}
